// out: ../css/main.css, compress: false, strictMath: true

/* Import */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* Variables */
@bg-color: #f7f7f7;
@default-color: #345073;
@border-color: #DADADA;
@right-side-bg: #EFEFEF;
@place-order-button: #029ec9;
@default-font: 'Open Sans', sans-serif;

// Mixins

.removeBorderRadius(){
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/* Body settings */

body {
    background: @bg-color;
    font-family: @default-font;
}

.fix-padding {
    padding: 0 !important;
}

/* Topbar */

.topbar {
    width: 100%;
    height: 75px;
    line-height: 75px;
    background: #fff;

    .navbar-default {
        background-color: #fff;
        border-color: #fff;
        margin-top: 12px;
        margin-bottom: 0;

        ul {
            &.navbar-nav {
                li {
                    a {
                        text-transform: uppercase;
                        color: #000;
                        font-weight: 400;
                        font-size: 14px;

                        &:hover, &:focus {
                            outline: 0 none;
                        }
                    }
                }
            }
        }
    }
}

.logo {
    img {
        max-width: 100%;
        height: auto;
    }
}

/* Form settings */

form {
    &.websiteForm {

        .social_media_connect {
            margin-top: 15px;

            .icon {
                display: inline-block;
                margin-right: 10px;
                cursor: pointer;
            }

            .facebook-connect {
                width: 40px;
                height: 40px;
                background: url(../img/socialmediaconnect.png) no-repeat;

                &.active {
                    background-position: 0 -40px;
                }
            }

            .twitter-connect {
                width: 40px;
                height: 40px;
                background: url(../img/socialmediaconnect.png) no-repeat;
                background-position: -40px 0;

                &.active {
                    background-position: -40px -40px;
                }
            }

            .instagram-connect {
                width: 40px;
                height: 40px;
                background: url(../img/socialmediaconnect.png) no-repeat;
                background-position: -80px 0;

                &.active {
                    background-position: -80px -40px;
                }
            }
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] {
            opacity: 0.5;
        }

        input {
            height: 40px;
            color: #333 !important;
            border: 1px solid @border-color;
            .removeBorderRadius;


            &[type='radio'] {
                height: auto;
            }

            &#buyDetailsDateRange {
                color: #818285;
            }

            &::-webkit-input-placeholder {
                color: #cacaca;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: #cacaca;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
                color: #cacaca;  
            }

            &:-ms-input-placeholder {  
                color: #cacaca;  
            }
        }

        .geolocation_button{
            padding: 7px 20px !important; 
            margin-top: 0 !important; 
            height: 40px !important;
        }

        ul.geolocation {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .page-content ul#geoList {
            list-style: none;
            padding: 0;
            margin: 15px 0;
        }

        ul.geolocation li {
            /*font: 200 20px/1.5 Helvetica, Verdana, sans-serif;*/
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
        }

        ul.geolocation li:last-child {
            border: none;
        }

        ul.geolocation li a {
            cursor: pointer;
            text-decoration: none;
            color: #000;
            display: block;

            -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
            -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
            -o-transition: font-size 0.3s ease, background-color 0.3s ease;
            -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
            transition: font-size 0.3s ease, background-color 0.3s ease;
        }

        li a:hover {
            font-size: 15px;
            background: #f6f6f6;
        }

        .form-group {
            overflow: hidden;
        }

        .image-attachement {
            input {
                &[type="file"] {
                    display: none;
                }
            }

            label {
                display: block;
                width: 100%;
                height: 62px;
                background: url(../img/image-attachement.png) no-repeat left;
                cursor: pointer;
                position: relative;
                padding-left: 90px;
                padding-top: 40px;

                span {
                    position: absolute;
                    left: 90px;
                    bottom: 5px;
                }
            }
        }

        .adImage {
            text-align: center;
            border: 3px dashed #d8d8d8;
            color: #818285;
            cursor: pointer;
            position: relative;
            min-height: 110px;
            height: auto;

            &:hover {
                cursor: pointer;
            }

            input {
                &#form-ad-photo {
                    position: absolute;
                    width: 100%;
                    height: 110px;
                    opacity: 0;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            button {
                display: block;
                margin: 10px auto;
                background: transparent;
                color: #00afef;
                text-decoration: underline;
                border: 0;
            }

            label {
                color: #00afef;
                cursor: pointer;
                text-decoration: underline;
                margin-bottom: 0;
                display: block;
            }

            p {
                margin-bottom: 0;
                margin-top: 25px;

                &.file_name {
                    font-weight: bold;
                }
            }

            img {
                max-width: 100%;
                height: auto;
            }

        }

        .radio {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 21px;
            padding-top: 8px;
            margin-top: 0;

            label {
                height: auto;
                line-height: normal;
            }
        }

        select {
            color: #333;
            &.ageSelector {
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                width: 48%;
                float: left;
                text-align: center;
                margin-left: 7px;
                background: #fff;
                .removeBorderRadius;

                @media screen and (max-width: 767px) {
                    width: 49%;
                    margin-right: 0 !important;
                }
            }

            &.geography-select, &#userPageList, &.cpmSelect {
                .removeBorderRadius;
                height: 40px;
                margin-bottom: 15px;
                color: #333;
            }

            &.cpmSelect {
                margin-bottom: 0;
            }

            option[disabled] {
                color: #cacaca;
            }
        }

        button {
            &.btn-place-order {
                background: @place-order-button;
                font-weight: bold;
                color: #fff;
                padding: 10px 30px;
                font-size: 16px;
                text-transform: capitalize;
                margin-top: 20px;
                .removeBorderRadius;
            }
        }

        label {
            color: #818285;
            font-weight: normal;
            height: 40px;
            line-height: 40px;
            font-size: 13px;

            &.is_disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            &.loginIcons {
                margin-top: 15px;
            }

            &#buyDetailsOurFee {
                display: block;
                font-size: 20px;
            }
        }

        small {
            color: #AFAFAF;
        }

        span {
            &.input_symbol {
                font-size: 17px;
                color: #AFAFAF;
                margin-top: 10px;
                display: block;
            }
        }

        #ageRange {
            overflow: hidden;

            select {
                margin: 0;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                    margin-left: 8px;
                }
            }
        }

        .checkbox {
            display: inline-block;
            margin: 10px;

            input[type="checkbox"] {
                display: none;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

/* Page content settings */

.page-content {

    .left-side, .right-side {
        padding: 0 40px;
        padding-top: 0;
    }

    .left-side {
        min-height: 520px;
        border-right: 1px solid #00afef;
    }

    .right-side {
        height: calc(100vh - 250px);
    }

    h3 {
        margin: 50px 0px;
        font-weight: bold;
        color: @default-color;
        font-size: 18px;
        text-transform: uppercase;

        &.is_disabled {
            opacity: 0.5;
        }
    }

}

.modal {
    &#myModal {
        img {
            max-width: 100%;
            height: auto;
            display: block;
            text-align: center;
            margin: 15px 0 auto;
        }
    }

    #accordion {
        margin-top: 20px;
    }
}

// Footer

.footerContainer{
    width: 100%;
    height: 75px;
    line-height: 75px;
    background: #fff;
    margin-top: 50px;

    .footer {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

}

// Responsive

@media screen and (min-width: 768px) {
    .footer {
        width: 750px;
    }
}
@media screen and (min-width: 992px) {
    .footer {
        width: 970px;
    }
}
@media screen and (min-width: 1200px) {
    .footer {
        width: 1170px;
    }
}


@media screen and (max-width: 767px) {

    .logo {
        width: 80%;
        float: left;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .navbar-default {
        margin-top: 0 !important;
        background-color: transparent !important;
        border-color: transparent !important;
        .navbar-toggle {
            position: absolute;
            top: -60px;
            right: -20px;
        }
    }

    .page-content {
        .left-side, .right-side {
            min-height: auto;
            height: auto;
            padding: 15px;
            padding-top: 0;
        }

        .left-side {
            border-right: 0;
        }

        h3 {
            margin-top: 0;
        }

        input {
            &.dateselect {
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .page-content {
        .left-side, .right-side {
            min-height: auto;
            height: auto;
            padding: 15px;
            padding-top: 0;
        }

        .left-side {
            border-right: 0;
        }

        h3 {
            margin-top: 0;
        }
    }
}



