<form method="POST" enctype="multipart/form-data" action="index.php?page=users&amp;action=add" id="editForm">
<table border="0" align="center" cellpadding="3" cellspacing="0">
	{if ($err)}
	<tr>
		<td colspan="2" class="error">{$err}</td>
	</tr>
	{/if}
	<tr>
		<td>Email:</td>
		<td><input type="text" name="email" value="{if isset($post.email)}{$post.email}{/if}" style="width:400px;" /></td>
	</tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>


    <tr>
		<td colspan="2" align="center"><a href="#" class="button" onclick="location.href = 'index.php?page=users'; return false">Back to users list</a>
		<a href="#" class="button" onclick="document.getElementById('editForm').submit(); return false">Save</a></td>
	</tr>
</table>
</form>