<form method="POST" enctype="multipart/form-data" action="index.php?page=users&amp;action=edit&amp;id={$user->id}" id="editForm">
<table border="0" align="center" cellpadding="3" cellspacing="0">
	{if ($err)}
	<tr>
		<td colspan="2" class="error">{$err}</td>
	</tr>
	{/if}
	<tr>
		<td>Email:</td>
		<td><input type="text" name="email" value="{$user->email}" style="width:400px;" /></td>
	</tr>
    <tr>
        <td colspan="2">
		    <a href="#" class="button" onclick="document.getElementById('editForm').submit(); return false">Save</a>
        </td>
	</tr>
</table>
</form>