<div class="header">
    <a href="/admin/" style="float: left;">Home</a>
    {if isset($ADMIN)}
        <a style="float: right;" href="?page=logout">Logout</a>
    {/if}
    <br class="clear"/>
</div>
