<div style="width: 100%;">
    <div class="admin_menu2">Pages</div>
    <div class="admin_menu1"><a href="index.php?page=ads" {if ($page == 'ads')} style="color:#38b6ec;" {/if}>Ads</a></div>
    <div class="admin_menu1"><a href="index.php?page=users" {if ($page == 'users')} style="color:#38b6ec;" {/if}>Users</a></div>
    <div class="admin_menu1"><a href="index.php?page=payments" {if ($page == 'payments')} style="color:#38b6ec;" {/if}>Payments</a></div>
</div>

