<form name="login" action="index.php?page=login" method="post">
    <div style="width:100%; margin-top: 150px;">

        {if (isset($error_login) &&  $error_login != '')}
        <div> style="color:#FF0000; font-size:bold;">{$error_login}</div>
        {/if}
        <table style="margin: auto; background-color: #FFFFFF;">
        <tr>
            <td style="background-color: #FFFFFF;" align="left">Email</td>
            <td style="background-color: #FFFFFF;"><input type="text" name="email"></td>
        </tr>
        <tr>
            <td style="background-color: #FFFFFF;" align="left">Password</td>
            <td style="background-color: #FFFFFF;"><input type="password" name="password"></td>
        </tr>
        <tr>
            <td style="background-color: #FFFFFF;" colspan="2" align="center"><input type="submit" name="button" value="Login"></td>
        </tr>
        </table>
    </div>
</form>