<div class="container-fluid fix-padding">
    <div class="container">
        <div class="row">
            <form id="facebookCreateAd" class="form-vertical websiteForm" action="#" enctype="multipart/form-data">
                <input type="hidden" name="page" value="save-ad">
                <div class="page-content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fix-padding">
                        <h3>Ad Status</h3>
                        <p>
                            {$message}
                            <br/>
                            <a href="/">Post</a> another ad.
                        </p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
