body
{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; padding:0px; margin:auto;margin-top:11px; 
	background-color:#d0e8f2;}
a
{ color:#000000; font-weight:bold; text-decoration:none;}
a:hover
{ color:#38b6ec; font-weight:bold; text-decoration:none;}
.button
{ color:#000000; font-weight:bold; padding:2px 14px 2px 14px;}

.admin_menu1
{ padding:5px 0 5px 10px; font-weight:bold; height:20px; background-color:#fbfbfb;}
.admin_menu2
{ padding:10px 0 10px 20px; height:20px; font-weight:bold; color:#999999; border-bottom:1px solid #E1E1E1;}
.admin_menu3
{ padding-left:30px; height:20px; border-bottom:1px solid #E1E1E1;}
.input_login
{ border:1px solid #CCCCCC; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; padding:4px 0px 4px 0px; width:140px;}
.td_login
{ padding:0px 5px 0px 5px;}
.btn_login
{ padding:2px 4px 2px 4px; color:#FF0000; font-weight:bold;}
/*------------------------------------*/
/* defaults: */

html { overflow-y:scroll; }

.clear { clear:both; }


.main{
    width: 90%;
    margin: auto;
    padding: 0;
    border: 5px solid #38b6ec;
    display: block;
    background-color: #FFFFFF;
}

.header {
    witdh: 100%;
    display: block;
    border-bottom : 1px solid #38b6ec;
    min-height: 50px;
}
    .header a{margin: 20px;}

.content {
    text-align: center;
    min-width: 400px;
    min-height: 400px;
    float:left;
    border-left: 1px solid #38b6ec;

}


table { border-spacing: 0; border-collapse: collapse; }
td { font-weight: normal; background-color:#fbfbfb;}

p, form, ul { margin:0; padding:0; }

/*
a:link, a:visited , a:active { text-decoration:none }
a:hover { text-decoration:underline }
*/
a img, a:link img, a:visited img { border:none }
address { font-style:normal }

/*------------------------------------*/
/* website styles: */

* { font-family:Arial,Helvetica, sans-serif; font-size:11px; }
.error, .err { color:red; }
.msg { color: #22aa22; }
.deg { border:1px solid black; }


/*------------------------------------*/
.object {
	background-color:#FFFFFF;
	height:25px;
	cursor:default;
}

.object_hover {
	background-color:#EEEEEE;
	height:25px;
	cursor:default;
}
a.button {
	font-family:Tahoma, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	border:1px solid #000033;
	background-color:#999999;
	color:#FFFFFF;
}
a.button:hover {
	background-color:#CCCCCC;
}

